body{
   background-color:rgba(59, 70, 100, 1);
   padding: 9vh 34.5vw;
   margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    gap:3vh;
    
}
.heading{
  font-family: Inter;
  font-size: 28px;
  font-weight: 800;
  line-height: 33.89px;
  text-align: left;
  color: white ;
  margin-bottom: 0;
}
.result{
    background-color: rgba(24, 31, 50, 1);
    color:white;
    height: 15vh;
    border-radius: 8px;
    font-family: Segoe UI;
    font-size: 55px;
    font-weight: 700;
    line-height: 73.15px;
    text-align: right;    
    padding-right: 1vw;
}
.operations{
    padding: 4vh 1vw;
    background-color:rgba(37, 45, 68, 1);
    display: grid;
    grid-template-columns: repeat(4,6vw);
    gap: 1vw;
    justify-content: center;
    border-radius: 8px;

}
.calculator{
    height: 8vh;
    border-radius: 10px;
    color: rgba(59, 70, 100, 1);
    background-color: rgba(234, 227, 219, 1);
    font-size:larger ;
    font-weight:900;
    border: none;
    font-family: Inter;
    cursor: pointer;
}
.calculator:hover{
    opacity: 0.8;
}
.calculator:active{
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.8);

}
.key4{
    background-color: rgba(100, 114, 153, 1);
    color: white;

}
.key17{
    grid-area: 5/1/5/3;
    background-color: rgba(100, 114, 153, 1);
    color: white;

}
.key18{
    grid-area: 5/3/5/5;
    background-color: rgba(209, 63, 48, 1);
    color:white ;
}